body{background-color:#000;
	margin:0;
}
.scene{position:absolute;margin:0;height:100%;width:100%;-webkit-perspective:2000px;perspective:2000px;}
.cube{transition-property:0;transition-duration:1s;-webkit-backface-visibility:hidden;}
#store_container{margin:0;left:0;top:0;transition-property:0;transition-duration:1s;-webkit-transform-style:preserve-3d;position:relative;height:100%;width:100%;}
.ground{position:absolute;-webkit-transform-style:preserve-3d;height:2000px;width:2000px;left:20%;background-color:green;/*-webkit-transform: rotateX(76deg) rotateZ(19deg);*/}
.front_wall{background-color:grey;-webkit-transform:rotateX(0deg) rotateZ(0deg);height:50px;width:50px;}
#first_cube{background-color:white;opacity:0.6;top:100px;left:100px;-webkit-transform:translateZ(50px);}
#grid{height:2000px;width:2000px;margin:0;top:0;left:0;position:absolute;}
.tile{height:98px;width:98px;border:solid 1px grey;margin:0;position:relative;float:left;}
#add_button{font-family: arial;font-size: 24px;text-align: center;position: static;height: 30px;width: 80px;z-index: 999;-webkit-transform-style: preserve-3d;padding-top: 5px;border-radius: 999px;background-color: skyblue;opacity: 0.8;}
.add_button{font-family: arial;font-size: 20px;text-align: center;position: static;height: 40px; left:0;width: 60px;z-index: 999;margin-top: 10px;transition-duration: 1s;color: white;margin-left: 10px;-webkit-transform-style: preserve-3d;padding-top: 20px;border-radius: 999px;background-color: rgb(175, 175, 175);opacity: 0;}
.build_submenu{font-family: arial;
margin-top: 10px;
position: relative;
height: 40px;
width: 60px;
z-index: 999;
transition-duration: 1s;
color: white;
margin-left: 80px;
-webkit-transform-style: preserve-3d;
top: -200px;
border-radius: 999px;
background-color: rgb(175, 175, 175);
left: -200px;
opacity: 0;
}